<div class="top-page">
  <p class = "h3 d-flex justify-content-center pb-5 pt-5">TOP PAGE</p>
  <div class="d-flex justify-content-center">
    <div>
      <p>RUNNING CALENDARで健康になりましょう！</p><br>
      <p>自分で毎月走る距離を決めて達成しましょう！</p><br>
      <p class="text-white"><%= link_to "自分のカレンダーへ", blogs_path, class: "text-white pt-5" %></p>
    </div>
  </div>
</div>