<div class="fixed-background background-1">
	<h1 class="row justify-content-center"></h1>
</div>
 
<div class="scroll-background  background-color-1">
</div>
 
<div class="fixed-background background-2">
	<h1 class="row justify-content-center">健康になるアプリです。</h1>
</div>
 
<div class="scroll-background background-color-2">
</div>