<h4 class=" pb-4 memory-top"><i class="fas fa-running"></i> 運動記録</h4>
<table class="table my-table align-self-center">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">日付</th>
      <th scope="col">走った距離(<%= @total_distance %>km)</th>
      <th scope="col">詳細</th>
    </tr>
  </thead>
  <% @blogs.each do |blog| %>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td><%= blog.start_time.strftime("%m月%d日") %></td>
        <td><%= blog.distance %>km</td>
        <td><%= link_to "トレーニング内容", blog_path(blog) %></td>
      </tr>
    </tbody>
  <% end %>
</table>