/*
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

header{
    color: white;
}

.careful{
    margin-top: 55px;
}

.top-page{
    text-align: center;
    background-image: image-url("candra-winata-CYOFvtpOIpU-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
}

.my-table{
    width: 80%;
}

.sign-up-top{
    padding-top: 100px;
}

.memory-top{
    text-align: center;
    padding-top: 80px;
}

.today{
    margin-bottom: 10px;
}

.run-memory{
    text-align: center;
}

.show-text{
    text-align: center;
}

h1{
    color: white;
}

.calendar-page{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.calendar-heading{
    text-align: center;
    padding-bottom: 20px;
    font-size: 130%;
}

.row{
    display: flex;
}

.col-md-8{
    width: 100%;
}

.fixed-background {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.edit-top{
    padding-top: 100px;
}
 
.background-1 {
  background-image: url("30daysreplay-social-media-marketing-gAajYgoEci8-unsplash.jpg");
}
 
.background-2 {
  background-image: url("braden-collum-9HI8UJMSdZA-unsplash.jpg");
}

.head{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 102%;
    justify-content: center;
}